{% extends 'basic_app/base.html' %}
{% load staticfiles %}

{% block body_block %}
                    <div class="subscribe">
                        <div class="subscribe__form">
                            <form action="{% url 'basic_app:add'%}" method="post">
                              {% csrf_token %}
                              <input type="text" id="subscribe__input" name="add" placeholder="Subscribe To">
                              <button id="submit"><i class="fa fa-plus"></i></button>
                            </form>
                        </div>
                    <div id="subscribe__list">
                      {% for i in listo %}
                        <div class="subscribe__name">{{i}}<span class="close"><i class="fa fa-close"></i></span></div>
                      {% endfor %}
                    </div>
                  </div>
  <script type="text/javascript">
    var rem_url = "{% url 'basic_app:remove'%}";
  </script>
  <script src="{% static 'js/animate.js' %}"></script>
{% endblock %}
