<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

  </head>
  <body>


  <section class="container">
  <div class="left-half">
    <article>
      {% if registered %}
        <h1 class="thank">Thank you for registering</h1>
      {% else %}
      <div class="formy">
        <h1 class="form-head">Register here</h1>

        <form enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {{user_form.as_p}}
          <input class="button" type="submit" value="Register">
        </form>

      </div>
      {% endif %}
    </article>
  </div>
  <div class="right-half">
    <article>
      <div class="formy">
        <h1 class="form-head">Login here</h1>
        <form  action="{% url 'basic_app:user_login'%}" method="post">
          {% csrf_token %}
          <p class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username">
          </p>
          <p class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password">
          </p>
          <input class="button" type="submit" value="Login">
        </form>
      </div>
    </div>
    </article>
  </div>
</section>
</body>
</html>
