{% extends 'basic_app/base.html' %}
{% block body_block %}

  <div class="summary">
    <div class="feature">
        <ul class="feature__list feature__list--right">
            <li class="feature__item"><a href=""><i class="fa fa-bookmark-o"></i></a></li>
            <li class="feature__item"><a href=""><i class="fa fa-check-circle"></i></a></li>
        </ul>
    </div>
    <h2 class="summary__heading">{{p}}</h2>
    <img class="summary__image" src={{r}} alt="">
    <p class="summary__sum">{{summ}}</p>
    <ul class="feature__list feature__list--right">
        <li class="feature__item"><a href="" title="Read More" class="fa fa-newspaper-o"></i></a></li>
        <li class="feature__item"><a href="" title="Facebook Share"><i class="fa fa-facebook"></i></a></li>
        <li class="feature__item"><a href="" title="Twitter Share"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>
{% endblock %}
