{% extends 'basic_app/base.html' %}
{% block body_block %}

<!--   <div class="summary">
    <h2 class="summary__heading">{{p}}</h2>
    <img class="summary__image" src={{r}} alt="">
    <p class="summary__sum">{{summ}}</p>
  </div> -->
  <div class="login">
        <div class="alert">
            <div class="alert__img">
                <img src={{r}} alt="#">
            </div>
            <div class="alert__content">
                <h2 class="alert__heading">{{p}}</h2>
                <p class="alert__summary">{{summ}}</p>
            </div>
        </div>
  </div>
{% endblock %}
