/* body
{
  background: #2E374;
}

.login
{
  color: #435160;
  font-family: 'Open Sans', sans-serif;
} */

body {
  overflow-y: hidden;
  background: #f56a6a;
  font-size: 1.25rem;
  font-family: sans-serif;
  line-height: 150%;
  text-shadow: 0 2px 2px #b6701e;
}

.formy
{
  padding:40px;
}

h3
{
  /* color: #6D7781; */
  color:white;
  font-family: 'Sofia', sans-serif;
  font-size: 3em;
  text-align: center;
}

.form-head
{
  /* color: #6D7781; */
  color:white;
  font-weight: bold;
  font-size: 4.6em;
  margin-bottom: 20px;
  font-family: 'Sofia', sans-serif;
  font-size: 40px;
  text-align: center;
}
.form-logo-head {
  transform: translateY(50px);
  color:white;
  font-weight: bold;
  font-size: 4.6em;
  margin-bottom: 20px;
  font-family: 'Sofia', sans-serif;
  font-size: 100px;
  text-align: center;
}
p
{
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Open San', sans-serif;
    padding:0px;
}
.form-group
{
  text-align: center;
  color:white;
  font-weight: bold;
  font-size: 1.3em;
  font-family: 'Open San', sans-serif;
  padding:20px;
}
form
{
  text-align: center;
}
input
{
  padding: 6px;
  border: 1px black solid;
  background: white;
  opacity: 0.5;
  font-weight: bold;
  border-radius: 20px;
}
.button
{
  background: black;
  border-radius: 100px;
  padding: 10px 40px;
  color: white;
  text-decoration: none;
  font-size: 1.45em;
  margin: 0 15px;
}
.button:hover
{
  background:#2E374;
}
.thank
{
  font-size: 3em;
  text-align: center;
  font-family: 'Sofia',sans-serif;
}

/* Pen-specific styles */
* {
  box-sizing: border-box;
}


section {
  color: #fff;
  text-align: center;
}

div {
  height: 100%;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  background: #f56a6a;
  display: table;
  width: 100%;
  transform: translateY(300px);
}

.left-half {
  background-color: #f56a6a;
  position: absolute;
  left: 0px;
  width: 50%;
  top:0px;
}

.right-half {
  /* top:0px; */
  background-color: #f56a6a;
  position: absolute;
  right: 0px;
  width: 50%;
  top:0px;
}

.main
{
  padding:20px 0px 0px 0px;
}

.left-half:after {
  content: "";
  background-color: white;
  position: absolute;
  width: 1px;
  height: 200px;
  top: -100px;
  left: 99%;
  display: block;
}
